<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<br><br>
<input [(ngModel)] = "hasil" type="text">
<br>
<br>
<button (click)="input()"> 7 </button>
<button (click)="input()"> 8 </button>
<button (click)="input()"> 9 </button>
<br>
<button (click)="input()"> 6 </button>
<button (click)="input()"> 5 </button>
<button (click)="input()"> 4 </button>
<br>
<button (click)="input()"> 3 </button>
<button (click)="input()"> 2 </button>
<button (click)="input()"> 1 </button>
<br>
<button (click)="input()"> - </button>
<button (click)="input()"> + </button>
<button (click)="input()"> * </button>
<button (click)="input()"> = </button>

